My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "id": "189f40fc-c9aa-4e4f-8be2-529e4fdf915a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        208
      ],
      "id": "567c71b0-8d22-4a94-a758-5d0c30c2ae75",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Lyj53q9qiO68zUXj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        704,
        0
      ],
      "id": "f1bd3682-7e76-4869-a891-3ec6ff6064e6",
      "name": "Discord",
      "webhookId": "1d616f2d-4265-4394-bea9-89a72c18a6ed",
      "credentials": {
        "discordWebhookApi": {
          "id": "LbfQ2hftS2VQR8Ek",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        0
      ],
      "id": "dc09a203-4804-4171-aa24-c997992cada5",
      "name": "When chat message received",
      "webhookId": "fc3caeca-3620-4d31-bbc1-1c83869e6e22"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        144,
        240
      ],
      "id": "402f70b6-15c9-4475-9720-078bf1035fab",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "GoRg3rhP1h8VuWTq",
          "name": "SerpAPI account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1212121"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        256
      ],
      "id": "38bf2d54-3bee-48da-950f-915e39447062",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chunkSize": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        336,
        0
      ],
      "id": "0601804b-2c6b-4774-90d7-6be24d792dbd",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        240
      ],
      "id": "730f7596-a750-41f5-aae6-5a4ee88b44b0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Lyj53q9qiO68zUXj",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3f9db02a-4bf9-49bf-a195-b38253077049",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44def481fe212681a96042fdfd7b982097fa2a1fc6a56436392d795588fa0e93"
  },
  "id": "vAGsqzWXd5HvOyAF",
  "tags": []
}